@import './variables';

html {
  height: 100%;

  body {

    height: 100%;

    div.app {

      height: 100%;

      .home-page-container {
        
        height: 100%;

        .block-table-grid {

          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  h1 {
    color: $primary-color;
  }
}

.blocks-container {

  table {

    thead {
      
      th {
        font-size: .7rem;
      }
    }

    tbody {
    
      tr {

        td {

          p {
            max-width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .blocks-container {
    table {
  
      tbody {
      
        tr {
  
          td {
  
            p {
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .blocks-container {
    table {
  
      tbody {
      
        tr {
  
          td {
  
            p {
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 996px) {
  .blocks-container {
    table {

      thead {
      
        th {
          font-size: initial;
        }
      }
  
      tbody {
      
        tr {
  
          td {
  
            p {
              max-width: initial;
            }
          }
        }
      }
    }
  }
}
