@import './variables';

html {
  height: 100%;

  h1 {
    color: $primary-color;
  }

  .block-table-grid {

    margin: 10% 0 0;
    
    .block-table-container {

      table {
    
        thead {
          
          th {
            font-size: .7rem;
          }
        }
    
        tbody {
        
          tr {
    
            td {
    
              p {
                max-width: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .block-table-container {
    table {
  
      tbody {
      
        tr {
  
          td {
  
            p {
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .block-table-container {
    table {
  
      tbody {
      
        tr {
  
          td {
  
            p {
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 996px) {
  body {

    height: 100%;

    div.app {

      height: 100%;

      .home-page-container {
        
        height: 100%;

        .block-table-grid {
          
          margin: 0;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          .block-table-container {
            table {
        
              thead {
              
                th {
                  font-size: initial;
                }
              }
          
              tbody {
              
                tr {
          
                  td {
          
                    p {
                      max-width: initial;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
